@charset "utf-8";
/* CSS Document */
.body {
	background-color: black;
	margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

.navbar {
    color: #64c3d0;
    font-family: "Bebas Neue";
    font-size: x-large;
}

.paragraph {
    color: white;
    text-align: center;
    font-family: "Avenir Next Condensed Regular";
    font-size: large;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
}
.mission {
    color: white;
    text-align: center;
    font-family: "Avenir Next Condensed";
    font-style: italic;
    font-variant: normal;
    font-weight: lighter;
    font-size: 23pt;
    letter-spacing: 2pt;
	margin-left: 40pt;
	margin-right:40pt;
}

.values {
    color: #64C3D0;
    font-family: "Bebas Neue";
    font-size: xx-large;
    text-align: center;
}

.h2 {
	color: #64C3D0;
	font-family: "Bebas Neue";
	text-align:center;	
}


.paragraph2 {
    color: #64C3D0;
    font-family: "Bebas Neue";
    text-align: center;
    font-size: x-large;
}

.paragraph3 {
    color: white;
    margin-left: 29px;
    margin-right: 29px;
	
}

.paragraph4 {
    color: #64C3D0;
    font-family: "Bebas Neue";
	margin-left: 29px;
	margin-right:29px;
}

.h3 {
    text-align: center;
    color: #64C3D0;
    font-family: "Bebas Neue";
    font-size: xx-large;
}
.h4 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Bebas Neue";
    font-size: xx-large;
}

.list {
    color: white;
    text-align: center;
    font-size: 22pt;
    font-family: "Avenir Next Condensed";
    font-weight: lighter;
    text-decoration: none;
    font-variant: normal;
    font-style: normal;
}

.paragraph5 {
    color: white;
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 24pt;
}

.logo1 {
	float: left;
	margin-left: 300px;
}

.logo2 {
	float: right;
	margin-right: 300px;
}
label {
	color: #ffffff;
	font-family: "Bebas Neue";
	font-size: large;
}
.subtitle {
    color: #64C3D0;
    font-family: "Bebas Neue";
    text-align: center;
    font-size: medium;
}
.maps {
	width: 100%
}




.photo{
	position:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width: 45%;
	margin-bottom:3px;
	margin-top:2%;
}

.h4{
	text-align: center;
    color: White;
    font-family: "Bebas Neue";
    font-size: xx-large;
}

.text{
	margin-left:20%;
	margin-right:20%;
	text-align:justify;
	margin-top:1%;
	color:white;
	font-family: 'Oswald', sans-serif;
	margin-bottom:0px;
}

.phototext{ 
	color:white;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	margin-bottom:25px;
}

.textdes{
		margin-left:20%;
	margin-right:20%;
	margin-top:1%;
	color:white;
	font-family: 'Oswald', sans-serif;
	margin-bottom:0px;
	text-align:center;
}


.margins4 {
    margin-bottom: 25px;	
}

.price {
	text-align: center;
    color: #00000;
    font-family: "Bebas Neue";
    font-size: 2rem;
}
.title3 {
	text-align: center;
    color: #64C3D0;
    font-family: "Bebas Neue";
    font-size: 2rem;
}
.paragraph6 {
    color: #101010;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.h4 {
	text-align: center;
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: xx-large;
}
.line {
    border-color: #65C3D0;
}
.row1 {
    margin-top: 50px;
}

.paragraph7 {
	text-align: center;
	font-family: "Bebas Neue";
	color: #64C3D0;
	font-size: 28pt;
}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

.contact {
color: antiquewhite	
}

